<div class="container">
  <h2>Giriş Yap</h2>
  <mat-form-field appearance="outline" style="width: 30%;">
    <mat-label>Kullanıcı Adı</mat-label>
    <input matInput placeholder="Kullanıcı Adı" type="text" #kadi>
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="outline" style="width: 30%;">
    <mat-label>Parola</mat-label>
    <input matInput placeholder="Parola" type="password" #parola>
  </mat-form-field>
  <p></p>
  <button mat-raised-button color="primary" (click)="OturumAc(kadi.value,parola.value)">Oturum AÇ</button>
</div>