<div class="container">
  <h1>Ürünler</h1>
  <div *ngFor="let arac of araclar"  style="display: inline-flex; margin-left: 20px;margin-top: 10px;" class="mat-elevation-z8">
    <mat-card class="example-card">
      <a [routerLink]="['/aracdetay',arac.aracId]">
      <mat-card-header >
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{arac.aracModel}}</mat-card-title>
      </mat-card-header>
    </a>
      <img mat-card-image style="width: 200px; align-self: center;" [src]="api.siteUrl+'/Dosyalar/'+arac.aracFoto">
      &nbsp;
      <mat-card-content>
        <h3 style="color: orange;"><b>{{arac.aracFiyat | currency: 'TRY'}}</b></h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="Kirala(arac.aracFiyat)">Kirala</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>