<div class="container">
  <h2>Kategoriler</h2>
  <button mat-fab color="primary" (click)="Ekle()">
    <mat-icon aria-label="Kategori Ekle">add</mat-icon>
  </button>
  <p></p>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="katAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Kategori Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.katAdi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button mat-icon-button matTooltip="Ürün Listele" color="primary">
          <mat-icon aria-label="label">list</mat-icon>
        </button>
      <button mat-icon-button matTooltip="Kategori Güncelle" color="primary" (click)="Duzenle(kayit)">
        <mat-icon aria-label="label">edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Kategori Sil" color="warn" (click)="Sil(kayit)">
        <mat-icon aria-label="label">delete</mat-icon>
      </button>
      </mat-cell>
    </ng-container>
  
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>