<div class="container">
  <h2>Araçlar</h2>
  <button mat-fab color="primary" (click)="Ekle()">
    <mat-icon aria-label="Kategori Ekle">add</mat-icon>
  </button>
  <p></p>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="aracModel">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Araç Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.aracModel}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="aracMarka">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Araç Marka
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.aracMarka }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="aracYil">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Araç Yıl
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.aracYil}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="aracFiyat">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Araç Fiyat
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.aracFiyat | currency:'TRY'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Islemler">  
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button mat-icon-button matTooltip="Araç Detay" [routerLink]="['/arac-detay',kayit.aracId]" color="primary">
          <mat-icon aria-label="label">list</mat-icon>
        </button>
      <button mat-icon-button matTooltip="Araç Güncelle" color="primary" (click)="Duzenle(kayit)">
        <mat-icon aria-label="label">edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Araç Sil" color="warn" (click)="Sil(kayit)">
        <mat-icon aria-label="label">delete</mat-icon>
      </button>
      </mat-cell>
    </ng-container>
  
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator showFirstLastButtons
        [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>